<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.zenology.uart"
    version="1.0.1">
    <name>UART</name>
    <description>Cordova plugin to communicate with the android peripheral devices</description>
    <license>MIT</license>
    <keywords>uart, serial</keywords>

    <!-- js module -->
    <js-module src="www/uart.js" name="UART">
        <clobbers target="window.uart" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UART">
                <param name="android-package" value="com.zenology.uart.UART"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
		  <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
		</config-file>
        <source-file src="src/android/com/zenology/uart/UART.java" target-dir="src/com/zenology/uart" />
    </platform>
</plugin>
